@import "../../styles/cores.module.scss";

#headerMainPage{
    height: 120px;
    display: flex;
    background-color: #f1f1f1;
    justify-content: space-around;
    align-items: center;
}
#logo{
    width: 300px;
    height: 125px;
}
#secondSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}
#unOrdenedList{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
}
.links{
    text-decoration: none;
    color: $primary-color;
    font-weight: 700;
}
#boxSearch{}
#entrySearch{
    height: 40px;
    border-radius: 10px;
    padding-left: 5px;
    margin-right: 5px;
    background-color: #f1f1f1;
    border: 2px solid $primary-color;
}
#btnSearch{
    background-color: $primary-color;
    color: #fff;
    border: none;
    height: 40px;
    padding: 0 20px;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        background-color: $secondary-color;
    }
}
#teste{
    border-bottom: 2px solid $primary-color;
}
#logoMenuHamburguer{
    display: none;
    height: 40px;
    width: 40px;
}
@media screen and (min-width: 320px) and (max-width: 468px) {
    #secondSection{
        display: none;
    }
    #logoMenuHamburguer{
        display: block;
    }
    #logo{
        width: 175px;
        height: 80px;
    }
  }
  