@import "../../styles/cores.module.scss";

.card{
    border: 2px solid $primary-color;
    width: 750px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: $third-color;
}
.boxTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    background-color: $primary-color;
    color: #fff;
    padding: 15px 50px;
    margin: 20px 0;
    font-size: 20px;
    border-bottom-right-radius: 10px;
}
.remuneration{
    color: $primary-color;
    margin-right: 50px;
}
.descriptionJob{
    color: $primary-color;
    padding: 0 50px;
    margin-bottom: 30px;
}
.boxAboutJob{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 30px;
}
.showJob{
    background-color: $secondary-color;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    width: 180px;
    text-align: center;
    border-radius: 5px;
}
.unList{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.tags{
    color: $secondary-color;
}



@media screen and (min-width: 320px) and (max-width: 480px) {
    .card{
        width: 100%;
    }
    .title{
        padding: 10px;
        font-size: 15px;
    }
    .remuneration{
        margin: 0;
        font-size: 15px;
        padding-right: 15px;
    }
    .boxAboutJob{
        flex-direction: column;
    }
    .descriptionJob{
        font-size: 15px;
        padding: 0 25px;
    }
    .showJob{
        width: 150px;
        font-size: 13px;
        margin-bottom: 20px;
    }
    .unList{
        width: 100%;
        justify-content: space-between;
    }
    .tags{
        font-size: 13px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .card{
        width: 100%;
    }
    .title{
        padding: 10px 20px;
        margin: 20px 0;
    }
    .remuneration{
        margin-right: 20px;
    }
    .descriptionJob{
        padding: 5px 35px;
    }
    .boxAboutJob{
        flex-direction: column;
    }
    .unList{
        width: 100%;
        margin-top: 20px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    
}
