@import "./cores.module.scss";

#mainPage{
    background-color: #053B50;
    display: flex;
    align-items: center;
}
#conteudo{
}
#mainContent{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin: 50px 0;
}
#tituloDaPagina{
    color: #fff;
    width: 600px;
    margin-bottom: 50px;
}
#boxPesquisa{
    border: 2px solid #D9D9D9;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
}
#tituloForm{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
#formPesquisa{
    display: flex;
    flex-direction: column;
}
.entradasForm{
    background-color: #64CCC5;
    height: 50px;
    margin-bottom: 15px;
    border: none;
    color: #fff;
    padding-left: 20px;
    border-radius: 5px;
}
#btnBuscar{
    color: #053B50;
    padding: 15px 0;
    margin-top: 30px;
    border-radius: 5px;
    font-weight: 700;
    border: none;
}
#navegacao{
    display: flex;
    margin: 60px auto;
    width: 80vw;
    justify-content: space-evenly;
}
.paises{
    color: #fff;
    text-decoration: none;
}
#textoDoTitulo{
    display: none;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    #mainContent{
        display: flex;
        flex-direction: column;
    }
    #fotoLogoMain{
        display: none;
    }
    #fotoSetaaDireita{
        display: none;
    }
    #tituloPrincipal{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #titulo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 86%;
        height: 260px;
        border-bottom: solid 2px #FFFFFF;
        border-top: solid 2px #FFFFFF;
        margin-bottom: 40px;
    }
    #tituloDaPagina{
        font-size: 27px;
        width: 100%;
    }
    #textoDoTitulo{
        display: block;
        color: #64CCC5C4;
        font-size: 14px;
        width: 100%;
        text-align: center;

    }
    #boxPesquisar{
        display: flex;
        justify-content: center;
    }
    #boxPesquisa{
        border: solid 1px  #FFFFFF;
        border-radius: 3px;
    }
    #tituloForm{
        font-size: 15px;
        margin-bottom: 50px;
    }
    .entradasForm{
        margin-bottom: 30px;
    }
    #btnBuscar{
       margin-top: 15px;
    }
    #navegacao{
        display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .paises {
        flex-basis: calc(23% - 10px);
        margin-bottom: 10px;
        text-align: center;
        font-size: 12px;
      }
}
@media screen and (min-width: 320px) and (max-width: 460px) {}
@media screen and (min-width: 769px) and (max-width: 1024px) {}
@media screen and (min-width: 1025px) and (max-width: 1200px) {}
