@import "./cores.module.scss";

#mainPage{
    background-color: #053B50;
    display: flex;
    align-items: center;
}
#conteudo{
}
#mainContent{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin: 50px 0;
}
#tituloDaPagina{
    color: #fff;
    width: 600px;
    margin-bottom: 50px;
}
#boxPesquisa{
    border: 2px solid #D9D9D9;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
}
#tituloForm{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
#formPesquisa{
    display: flex;
    flex-direction: column;
}
.entradasForm{
    background-color: #64CCC5;
    height: 50px;
    margin-bottom: 15px;
    border: none;
    color: #fff;
    padding-left: 20px;
    border-radius: 5px;
}
#btnBuscar{
    color: #053B50;
    padding: 15px 0;
    margin-top: 30px;
    border-radius: 5px;
    font-weight: 700;
    border: none;
}
#navegacao{
    display: flex;
    margin: 60px auto;
    width: 80vw;
    justify-content: space-evenly;
}
.paises{
    color: #fff;
    text-decoration: none;
}