@import "./cores.module.scss";

#vagas{
    background-color: $primary-color;
}
/* INICIO BANNER ONE */
#bannerOne{
    height: 300px;
    width: 100%;
    margin: 50px 0;
    background-size: cover;
}
.bannerOneLocal{
    background-image: url(../public/localJobs/banner_one.jpg);
    background-position: center;
}
.bannerOneInternacional{
    background-image: url(../public/internacionalJobs/banner_one_inter.jpg);
    background-position: 0 -100px;
}
.bannerOneFiltro{
    background-image: url(../public/filterJob/filter_job_01.jpg);
    background-position: center;
}
#bgBannerOne{
    background-color: #1e1e1ec5;
    height: 100%;
    display: flex;
    align-items: center;
}
#contentBannerOne{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#boxTitleOneFilter{
    display: flex;
    flex-direction: column;
    border: 2px solid $third-color;
    border-radius: 10px;
    width: 80%;
    padding: 30px;
}
#titleBannerOneFilter{
    color: #fff;
    border-left: 3px solid #fff;
    padding-left: 10px;
}
#descriptionBannerOneFilter{
    color: #fff;
    margin-top: 20px;
}
#boxTitleOne{
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
    border: 2px solid $third-color;
    border-radius: 20px;
    border-bottom-right-radius: 20px;
}
#titleBannerOne{
    color: #fff;
}
#boxDescriptionOne{
    color: #fff;
    display: flex;
    justify-content: center;
}
#descriptionBannerOne{
    width: 750px;
}
/* FIM BANNER ONE */
#mainContent{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    border-top: 3px solid #fff;
    padding: 50px 0;
}
/* INICIO BOX FILTER */
#boxFilter{
    background-color: $secondary-color;
    width: 300px;
    padding: 30px 0;
    border-radius: 5px;
    margin-bottom: 50px;
}
#titleMainFilter{
    color: #fff;
    background-color: $primary-color;
    text-align: center;
    padding: 15px 0;
}
#formFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#boxMainForm{
    margin: 20px 0;
}
.boxInputs{
    display: flex;
    flex-direction: column;
    
}
.titleFilter{
    color: #fff;
    padding: 10px 0;
    font-size: 15px;
}
.entrysFilter{
    border: 2px solid #fff;
    background-color: $secondary-color;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    padding-left:5px ;
}
.entrysFilter::placeholder{
    color: rgb(190, 190, 190);
}
#boxButtonsFilter{
    width: 200px;
}
#btnCleanFilter{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: $primary-color;
    margin-top: 30px;
    &:hover{
        background-color: #bebebe;
        cursor: pointer;
    }
}
#btnFilter{
    background-color: $primary-color;
    color: #fff;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: #064c68;
    }
}

/* FIM BOX FILTER */

/* INICIO CARD */
.card{
    border: 2px solid $primary-color;
    width: 750px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: $third-color;
}
.boxTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    background-color: $primary-color;
    color: #fff;
    padding: 15px 20px;
    margin: 20px 0;
    font-size: 20px;
    border-bottom-right-radius: 10px;
}
.remuneration{
    color: $primary-color;
    margin-right: 50px;
}
.descriptionJob{
    color: $primary-color;
    padding: 0 50px;
    margin-bottom: 30px;
}
.boxAboutJob{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 30px;
}
.showJob{
    background-color: $secondary-color;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    width: 180px;
    text-align: center;
    border-radius: 5px;
}
.unList{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.tags{
    color: $secondary-color;
}
#responseByFilter{
    color: #fff;
    font-size: 30px;
}
#loading{
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
}
/* FIM CARD */

/* INICIO BANNER TWO */
#bannerTwo{
    width: 300px;
    height: 550px;
    background-size: cover;
}
.bannerTwoLocal{
    background-image: url(../public/localJobs/banner_two.jpg);
}
.bannerTwoInternacional{
    background-image: url(../public/internacionalJobs/banner_two_inter.jpg);
}
.bannerTwoFiltro{
    background-image: url(../public/filterJob/filter_job_02.jpg);
}
#bgBannerTwo{
    background-color: rgba(30, 30, 30, 0.603);
    height: 100%;
    display: flex;
    align-items: center;
}
#contentBannerTwo{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
#titleBannerTwo{
    color: #FF6B00;
    text-align: center;
    font-size: 20px;
    width: 85%;
}
.descriptionTwo{
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 30px;
    text-align: center;
}
#boxDescriptionTwo{
    width: 80%;
}
#btnWantBanner{
    display: block;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}
/* FIM BANNER TWO */

/* INICIO INFORMACOES DE VAGAS */
#infoAboutJobs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
#resultJobsTitle{
    color: #fff;
}
#resultsJobs{
    color: #fff;
    padding: 10px;
    border: 2px solid $third-color;
}
#jobNotFound, #searchNotFound{
    width: 750px;
}
#jobNotFoundTitle, #searchNotFoundTitle{
    color: #fff;
}
#btnShowMoreJobs{
    background-color: $secondary-color;
    width: 750px;
    border:none;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: #07769b;
    }
}
#waiting{
    color: #fff;
}
#boxNotSearch{
    width: 100%;
    margin-left: 50px;
}
#notSearchOne{
    color: #fff;
    margin-bottom: 20px;
    text-align: right;
}
#notSearchTwo{
    color: #fff;
    text-align: right;
}
#jobNotFoundDescription, #searchNotFoundDescription{
    color: $third-color;
    margin: 30px 0;
}
#goBlog{
    text-decoration: none;
    background-color: $secondary-color;
    padding: 10px 20px; 
    color: #fff;
    border-radius: 5px;   
    font-size: 13px;
}
/* FIM INFORMACOES DE VAGAS */
#responseSearch{
    width: 750px;
}
#boxResponseSearch{
    margin-bottom: 50px;
}
#boxSearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#searchTitle{
    color: #fff;
}
#searchResults{
    color: #fff;
    border: 2px solid $third-color;
    padding: 10px;
    font-size: 13px;
}
#cardSearch{
    color: #fff;
    border-bottom: 3px solid #EEEEEE;
    padding-bottom: 50px;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #064c68;
    border-radius: 10px;
    &:hover{
        background-color: #064863;
    }
}
#boxCardSearch{

}
#titleCardSearch{
}
#descriptionSearch{
    margin: 30px 0 20px;
}
#boxTagsSearch{

}
.tagsSearch{
    background-color: $secondary-color;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
}

/* INICIO ADVERTISING */
#advertising{
    height: 300px;
    margin: 50px 0;
    background-size: cover;
    background-position: 0px -250px;
}
.bannerTreeLocal{
    background-image: url(../public/localJobs/banner_tree.jpg);
}
.bannerTreeInternacional{
    background-image: url(../public/internacionalJobs/banner_tree_inter.jpg);
}
.bannerTreeFiltro{
    background-image: url(../public/filterJob/filter_jobs_03.jpg);
}
#bgAdvertising{
    background-color: #1e1e1e9f;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contentAdvertising{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#boxDescritionAdvertising{
}
#titleAdvertising{
    color: $third-color;
    margin-bottom: 30px;
    font-size: 30px;
}
#descriptionAdvertising{
    color: #fff;
    width: 80%;
}
#wantBannerTwo{
    display: block;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
    text-align: center;
    width: 200px;
    border-radius: 5px;
}
/* FIM ADVERTISING */

/* INICIO BLOG */
#blogSection{
    width: 85%;
    margin: 100px auto;
}
#titleMainBlog{
    display: inline-block;
    font-size: 40px;
    border-left: 3px solid #fff;
    padding-left: 10px;
    margin-bottom: 30px;
    color: #fff;
}
#contentBlog{
    margin: 50px 0;
    
}
.boxBlog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.cardsBlog{
    width: 500px;
    border: 2px solid $third-color;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.6s;
    &:hover{
        background-color: #034661;
    }
}
.titleBlog{
    color: $third-color;
    margin-bottom: 20px;
    font-size: 25px;
}
.descriptionBlog{
    color: #fff;
    margin-bottom: 20px;
}
.dateBlog{
    color: #fff;
}
/* FIM BLOG */
@media(320px <= width <= 480px){
    .title{
        border-radius: 0;
    }
    .remuneration{
        text-align: center;
    }
    .descriptionJob{
        text-align: center;
    }
    .showJob{
        width: 100%;
        font-size: 13px;
        margin-bottom: 20px;
    }
    #responseByFilter{
        color: #fff;
        text-align: center;
    }
    #loading{
        color: #fff;
        margin-bottom: 30px;
    }
    #boxNotSearch{
        margin-left: 0;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #notSearchTwo{
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    #sectionCards{
        width: 85%;
    }
    #infoAboutJobs{
        display: flex;
        flex-direction: column;
    }
    #resultJobsTitle{
        text-align: center;
        margin: 30px 0;
    }
    .card{
        width: 100%;
    }
    .boxTitle{
        flex-direction: column;
        align-items: flex-start;
    }
    .title{
        padding: 10px;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
    .remuneration{
        font-size: 15px;
        padding-right: 15px;
        width: 85%;
        margin: 0 auto 20px;
    }
    .boxDescription{
        width: 85%;
        margin: 0 auto;
        display: flex;
    }
    .descriptionJob{
        font-size: 15px;
        padding: 0;
    }
    .boxAboutJob{
        flex-direction: column;
        width: 85%;
    }
    .unList{
        width: 100%;
        column-gap: 10px;
        row-gap: 5px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .tags{
        font-size: 13px;
    }
    .bannerOneLocal{
        background-position: center;
    }
    .bannerOneInternacional{
        background-position: center;
    }  
    #contentBannerOne{
        flex-direction: column;
    }
    #titleBannerOne{
        font-size: 25px;
    }
    #boxDescriptionOne{
        width: 80%;
        font-size: 13px;
        text-align: center;
        margin-top: 25px;
    }
    #mainContent{
        flex-direction: column;
        align-items: center;
    }
    #sectionCards{
        margin-top: 50px;
    }
    #btnShowMoreJobs{
        width: 100%;
        &:hover{
            cursor: auto;
            background-color: #176B87;
        }
    }
    #boxNotSearch{
        margin-left: 0;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #notSearchTwo{
        text-align: center;
    }

    /* INICIO ADVERTISING */
    #advertising{
        background-position: center;
        margin: 0;
    }
    #bgAdvertising{
        background-color: #1e1e1ec2
    }
    #contentAdvertising{
        flex-direction: column;
    }
    #boxDescritionAdvertising{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #titleAdvertising{
        text-align: center;
        font-size: 20px;
        width: 80%;
    }
    #descriptionAdvertising{
        font-size: 13px;
        width: 65%;
        text-align: center;
        margin-bottom: 30px;
    }
    #wantBannerTwo{
        padding: 10px 0;
        width: 150px;
        font-size: 13px;
    }
    /* FIM ADVERTISING */

    /* INICIO BLOG */
    #blogSection{
        margin: 50px auto;
    }
    #titleMainBlog{
        font-size: 25px;
        width: 100%;
        text-align: center;
        padding-left: 0;
        border-left: none;
        margin: 0;
    }
    .boxBlog{
        flex-direction: column;
        margin-bottom: 0;
    }
    .cardsBlog{
        width: 100%;
        margin-bottom: 50px;
        &:hover{
            background-color: $primary-color;
            cursor: auto;
        }
    }
    /* FIM BLOG */
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .unList{
        margin-top: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
    #contentBannerOne{
        flex-direction: column;
    }
    #descriptionBannerOne{
        text-align: center;
        margin: 30px 0;
    }
    #mainContent{
        flex-direction: column;
        align-items: center;
    }
    #sectionCardAndBanner{
        display: flex;
        column-gap: 15px;
    }
    #bannerTwo{
        margin-bottom: 50px;
    }
    #infoAboutJobs{
        display: flex;
        flex-direction: column;
    }
    #resultJobsTitle{
        text-align: center;
        margin: 30px 0;
    }
    .boxBlog{
        flex-direction: column;
        margin: 0;
    }
    .cardsBlog{
        width: 100%;
        margin-bottom: 30px;
    }
    #contentAdvertising{
        flex-direction: column;
    }
    #boxDescritionAdvertising{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #descriptionAdvertising{
        text-align: center;
        margin-bottom: 20px;
    }
    #boxNotSearch{
        margin-left: 0;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #notSearchTwo{
        text-align: center;
    }
}
